/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #333;
  font-family: Foundry,Arial, sans-serif;
}

.main-content {
  display: flex;
  flex: 1;
}

aside {
  width: 200px; /* Match the sidebar width */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixed position for better accessibility */
  height: 100vh; /* Full viewport height */
}

main {
  flex: 1;
  padding: 160px;
  margin-left: 200px; /* Adjust for the sidebar width */
}

a {
  text-decoration: none;
  color: #007bff;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

li a {
  color: #333;
}

li a:hover {
  text-decoration: underline;
}



